@import "tailwindcss";

.loading-state,
.error-state {
  background-color: #2d313c;
  border-radius: 15px;
  /* box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4); */

  padding: 4px;

  padding: 1rem;
}

.loading-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #a0aec0;
  animation: pulse 1.5s infinite ease-in-out;
}
